<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">    
  </head>

  <body>
    <p>This is Dashboard</p>
    <br>

    <p>Hello {{user.id}}</p>

    {% if user.is_admin == True %} 
    <br>
    <a href="/admin">goto admin page</a> 
    <br>
    {% endif %}  

    <a href="/actives">Active Challenges</a>
    <br>
    

    <a href="/request">Request new challenge</a>
    <br>
    
    <a href="/logout">logout</a>
  </body>

</html>
