<html>
  <head>
    <title>THE LOGIN PAGE</title>
  </head>

  <body>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for m in messages%}
                <p>{{m}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="" method="post">
      {{form.csrf_token}}

      <div class="input text">
        {{form.username.label}} {{form.username}}
        <br>
        {{form.password.label}} {{form.password}}
        <br>
        {{form.submit.label}} {{form.submit}}
      </div>

    </form>
  <body>

</html>
