<html>
  <head>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}"> 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src= "{{ url_for('static', filename='js/functions.js') }}"></script>
  </head>
    
  <body onload="countdown({{wait}})">

    {% if chal_accepted == False %}
    <p>Time until you can request another challenge:</p>
    <br>
    <span id="display_hrs"></span>
    <span>:</span>

    <span id="display_min"></span>
    <span>:</span>
    
    <span id="display_secs")></span>
    <br>
    {% endif %}

    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for m in messages%}
                <p>{{m}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}



    <p id="req_button" class="hidden">allow user to get challenge</p>
    
    
    <a href="/dashboard">return to dashboard</a>
  </body>

</html>
